@import "../../style-config/mixins.scss";
@import "../../style-config/variable.scss";

.projects-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.projects-showcase {
    display: flex;
    flex-flow: row wrap;
    margin-left: -10px;
    justify-content: center;

    @include small-screen {
        justify-content: unset;
    }

    .showcase-item {
        margin: 15px;
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
        border-bottom: 1px solid #ccc;

        @include small-screen {
            margin: 30px;
            padding-bottom: 20px;
        }

        @include medium-screen {
            flex-direction: row;
        }

        .left-col {
            flex: 0.6;
            width: 150px;
            height: 150px;
            overflow: hidden;
            width: 100%;
            position: relative;
            cursor: pointer;
            @include transition;

            @include medium-screen {
                width: 300px;
                height: 300px;
                border-radius: 16;

            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                display: block;

                @include medium-screen {}
            }

            .meta-content {
                visibility: visible;
                opacity: 1;
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 10px;
                width: 100%;
                @include glassmorphism-effect;
                @include transition;

                @include medium-screen {
                    width: fit-content;
                    visibility: hidden;
                    margin-right: 20px;
                    border-radius: 10px;
                    left: 20px;
                    padding: 10px;
                }

                h3 {
                    color: $black;
                    font-weight: 400;
                    margin-bottom: 10px;

                }

                .go-to-cta {
                    display: flex;
                    align-items: center;

                    .text {
                        @include typography(10px, 400, 18px);
                    }

                    .arrow-icon {
                        width: 15px;
                        height: 15px;
                        margin-left: 5px;
                    }
                }
            }

            &:hover {
                @include small-screen {
                    z-index: 1;
                    transform: scale(1.1);
                    box-shadow: 0 0 33px -8px rgba(0, 0, 0, 0.75);

                    .meta-content {
                        visibility: visible;
                        opacity: 1;
                        transform: translateY(-20px);
                    }
                }
            }

        }

        .right-col {
            flex: 1;
            @include transition;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .project-title {
                margin: 10px;
                cursor: pointer;
                color: $white;
                text-align: center;


            }

            .desc {
                @include typography(16px, 400, 20px);
                color: $white;
                margin: 10px;
                text-justify: inter-word;

                @include small-screen {
                    margin: 10px 10px 10px 30px;
                }
            }

            .techno {
                @include typography(20px, 800, 20px);
                text-align: left;
                color: $white;
                margin-top: 5px;
                text-justify: inter-word;

                @include small-screen {
                    margin: 10px 10px 10px 30px;
                }

            }

            &:hover {
                @include small-screen {
                    z-index: 1;
                    transform: scale(1.02);
                    box-shadow: 0 0 33px -8px rgba(0, 0, 0, 0.75);
                }
            }
        }

    }

}