@import "../../style-config/mixins.scss", "../../style-config/variable.scss";

.education-content-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 25px;
    flex-direction: column;

    @include small-screen {
        margin-top: 75px;
        flex-direction: row;
    }
}